<h1 class="site-title">About</h1>
<div class="container">
  <div class="row">
    <h4>The Opening</h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>We started out as a small chess enthusiast shop. Today, we still are a small chess enthusiast shop!</p>
    </div>
  </div>
  <div class="row">
    <h4>Our Plan</h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>We collect and sell anything that has to do with chess. Need new pieces, a board, or some books to build your repertoire? We got you covered</p>
    </div>
  </div>
  <div class="row">
    <h4>Shipping</h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>Please allow 1-3 business days for processing. USPS First Class Shipping usually takes 1-3 days to reach addresses within the continental US. Check your confirmation email for a tracking number</p>
    </div>
  </div>
</div>
