<div class="jumbotron jumbotron-fluid landing-hero">
  <div class="container">
    <h1 class="display-4 site-title">Blunder Chess</h1>
    <h3 class="display-6">Chess sets, boards, and more!<h3p>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3 class="">Featured Products</h3>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <%= render @products %>
    </div>
    <ol class="carousel-indicators">
      <% i=0%>
      <% @products.each do |product|%>
        <li class="text-shadow" data-target="#carouselExampleIndicators" data-slide-to="<%=i%>" class="<%= "active" if product == @products.first%>"></li>
      <%i+=1%>
      <% end %>
    </ol>
  </div>
</div>
