// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  color: #FF5A5F;
}

.site-title {
  font-family: 'ZCOOL KuaiLe';
}

.product {
  text-align: center;
  height: 30vh;
}

.product-featured {

}

.img-fluid {
  height: 100%;
}

.logo {
  width: 30px;
  height: 30px;
}

.landing-hero {
  background-image: image-url("checkbg.png");
  background-repeat: repeat;
  background-blend-mode: overlay;
  text-align: center;
}

.text-shadow {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.2), 0px 18px 23px rgba(0,0,0,0.1);
}

.carousel-indicators li {
  background-color: #A3F7B5;
}

.carousel-indicators .active {
  background-color: #40C9A2;
}

.green-text {
  color: #E5F9E0;
}

.text-outline {
  -webkit-text-stroke: 1px black;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
